<div class="container">

    <title>Waiters App</title>


    <h2>Working days of waiters</h2> <a href="/">
        <button class="button-primary" type="submit">Home</button>
    </a>
    <form action="/clear" method="get"> <button class="button-primary" type="submit">Reset</button> </form>



    <h5 style="color: green;">Enough</h5>
    <h5 style="color: orange;">Still needed</h5>
    <h5 style="color: crimson;">Over-subscribed</h5>

    <hr>

    <form action="/days" method="GET">
        {{!-- <div class="shift"> --}}
        <table>
            <tr>
                {{#each insert}}
                <th class="{{color}}">
                    {{day}}
                </th>
                {{/each}}
            </tr>

            <tr>
                {{#each insert}}
                <td>
                    <ul>
                        {{#each waiters}}
                    <a href="/waiter/{{this}}"><li>{{this}}</li></a>
                        {{/each}}
                    </ul>

                </td>
                {{/each}}
            </tr>

        </table>
        <h6 class="messages">{{messages.error}}</h6>
        <h6 class="confirm">{{messages.success}}</h6>

        {{!-- </div> --}}

    </form>



</div>

<script>
    setTimeout(function () {
        document.querySelector(".messages").innerHTML = "";
        document.querySelector(".confirm").innerHTML = ""
    }, 2000);
</script>