<div class="container">
    <title>Waiters App</title>


    <h1>Select your working days</h1>
    <hr>

    <h6 class="messages">{{messages.error}}</h6>
    <h6 class="confirm">{{messages.success}}</h6>



    <form action="/waiter/{{username}}" method="POST">
    <h4>{{username}}</h4>

        <br>
        {{#each weekdays}}
        <input type="checkbox" name="weekdays" class="check" value="{{this.days}}" {{this.state}}>
        <span class="check">{{this.days}}</span>

        {{/each}}

        <br>
        <button class="button-primary" type="submit" name="user">Confirm</button>


    </form>
    <a href="/">
        <button class="button-primary" type="submit">Home</button>
    </a>
</div>

<script>
    setTimeout(function () {
        document.querySelector(".messages").innerHTML = "";
        document.querySelector(".confirm").innerHTML = ""
    }, 4000);
</script>